.button__calc {
  background: #3e3d3d;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  border-radius: 8px;
  border: none;

  &:active {
    box-shadow: 4px 4px #242424 inset, -2px -2px #242424 inset;
  }

  &-reset {
    @extend .button__calc;
    grid-column: span 2;
    justify-self: stretch;
    align-self: stretch;
    background: orange;
  }

  &-equal {
    @extend .button__calc;
    grid-column: span 3;
    justify-self: stretch;
    align-self: stretch;
  }
}