.Item {
  border: 1px solid #535bf2;
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 0 0 15px #535bf2;
  transition: all .3s ease;

  &:hover {
    box-shadow: 0 0 20px #535bf2;
  }
  h3 {
    font-family: Arial, serif;
  }
  button {

    &:hover {
      border: 1px solid red;
      box-shadow: 0 0 5px red;
    }
  }
}