.Display {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  border: 1px solid #213547;
  padding: 5px 8px;
  border-radius: 5px;
  min-height: 35px;
  background: white;
  &__value {
    text-align: right;
    font-size: 1.2rem;
    color: #242424;
  }
}