.button__number {
  border-radius: 4px;
  aspect-ratio: 16/9;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #888888;
  box-shadow: 4px 4px 0 2px #242424;
  outline: none;

  &:active {
    box-shadow: 2px 1px #1a1a1a;
    transform: translate(2px, 4px);
  }
}